---
layout: post
title: Basics of Computering
tags: phase-X computers do-things important-stuff
---

## Today's topics

- topic the first
- topic the second

### Project
#### [title]

[Link to the assignment invitation](github-classroom-url)

### Links and resources

- for reference/more information

#### ⭐️EXTRA/TMI

- more information than is needed, but cool and relevant!

### Code, slides, and video from class

- [class slides PDF](/slide-decks/filename.pdf)
- [video link](...) Access Password: pWd123
