@import "tachyons.min.css";

:root {
  --momentum-blue: #1E116C;
}

.plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
}

.momentum-blue {
  color: var(--momentum-blue);
}

.b--momentum-blue {
  border-color: var(--momentum-blue);
}

.main h1, .main h2 {
  margin-top: 0;
  margin-bottom: 0;
}
