@import "tachyons.min.css";
:root {
  --brand-royal-blue: #1A0A6E;
  --brand-sky-blue: #5CC8D8;
  --brand-branch-green: #1DA57E;
  --brand-violet: #6E56B1;
  --brand-ruby-red: #E95D68;
  --brand-black: #090326;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.brand-blue {
  color: var(--brand-royal-blue);
}

.brand-sky-blue {
  color: var(--brand-sky-blue);
}

.brand-violet {
  color: var(--brand-violet);
}

.brand-red {
  color: var(--brand-ruby-red);
}

.b--brand-blue {
  border-color: var(--brand-royal-blue);
}

.b--brand-violet {
  border-color: var(--brand-violet);
}

.b--brand-red {
  border-color: var(--brand-ruby-red);
}

.b--brand-green {
  border-color: var(--brand-branch-green);
}

.post {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--brand-sky-blue);
}
